@use "../../responsive.scss" as *;
.homePage{
    display: flex;
    height: 100%;
    .textContainer{
        flex:3;
        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            gap: 45px;
            height: 100%;
            @include md{
                padding :0;
            }
            @include sm{
                justify-content: flex-start;
            }
            .title{
                font-size: 48px;
                @include lg{
                    font-size: 48px;
                }
                @include md{
                    font-size: 35px;
                }
                @include sm{
                    font-size: 27px;
                }
            }
            .boxes{
                display: flex;
                justify-content: space-between;
                @include sm{
                    display: none;
                    
                }
            }
            h1{
                // font-size: 40px;
                @include lg{
                    font-size: 32px;
                }
                
                @include md{
                    font-size: 30px;
                }
                @include sm{
                    font-size: 25px;
                }
            }
                    h2{
            

                @include md{
                    font-size: 18px;
                    font-weight: 300;
                }

        
                
        }
        }
    }
    .imgContainer{
        flex:2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;
        @include md{
            display: none;
        }
        img{
            width: 115%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            right: 0;
        }
        @include lg{
            width: 105%;
        }
    }
}

 