.listPage{
display:flex;
height:calc(100vh - 100px);
margin-top:-2px;
gap:20px;

    .listContainer{
        flex:3;
        .wrapper{
            height: 100%;
            padding-right:50px;
            display:flex;
                flex-direction:column;
                gap:40px;
                overflow-y:scroll;
                padding-bottom:50px;
        }
    }
    .mapContainer{
        flex:2;
        background-color:#fcf5f3;
        height:100%;
    }
}